.dark-mode .leaflet-marker-icon {
  color: #333;
}

.dark-mode .leaflet-bar a,
.dark-mode .leaflet-bar a:hover {
  background-color: rgb(24, 26, 27);
  border-bottom-color: rgb(62, 68, 70);
  text-decoration-color: initial;
  color: rgb(232, 230, 227);
}

.dark-mode .leaflet-control-layers {
  box-shadow: rgb(0 0 0 / 40%) 0px 1px 5px;
  background-image: initial;
  background-color: rgb(24, 26, 27);
}

.dark-mode .leaflet-control-layers-expanded {
  color: rgb(200, 195, 188);
  background-image: initial;
  background-color: rgb(24, 26, 27);
}

.dark-mode .cell {
  background: #000000;
}
.dark-mode .cell-row,
.dark-mode .cell-column {
  background: #0d0d0d;
}
.dark-mode .cell-row.cell-column {
  background: #1f1f1f;
}
.dark-mode .cell-marked {
  background: #415971 !important;
}
.dark-mode .header-marked {
  background: #364a5e;
}
.dark-mode .cell-control {
  background: #0a3d62 !important;
}
.dark-mode .cell-highlight {
  background: #833471 !important;
}